
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Ir a Saludo","Saludo","Home", new { nombre = "Alejandro", apellido = "Ruiz"},null)
    </div>
</body>
</html>
