
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewNotFound</title>
</head>
<body>
    Error. No se pudo encontrar la pagina de las plantas. 
</body>
</html>
