
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListadoProductos</title>
</head>
<body>
    <div>
        <ul>
            <li>Ordenador</li>
            <li>Raton</li>
            <li>Pablo</li>

        </ul>
    </div>
</body>
</html>
