
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post">
        
            <p>Introduce tu nombre</p>
            <input  type="text" name="nombre" />
            <br/>
            <button type="submit">Enviar</button>
    </form>
</body>
</html>
