
@{
    Layout = null;
}
@model Entidades.ClsPersona

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="Nombre" value="@Model.Nombre" />
            <br />
            @Html.TextBox("Apellidos")
            <br />
            @Html.TextBoxFor(Edad => @Model.Edad)
            <br />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
