
@{
    Layout = null;
}
@model Entidades.ClsPersona

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <div>
        <p>Nombre: @Model.Nombre</p>
        <p>Apellidos: @Model.Apellidos</p>
        <p>Edad: @Model.Edad</p>
    </div>
</body>
</html>
