
@{
    Layout = null;
}
@model Entidades.ClsPersona

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <div> 
        <p>@Model.Nombre</p>
        <p>@Model.Apellidos</p>
        <p>@Model.Edad</p>
    </div>
</body>
</html>
